html {
    background-color: red;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    height: 100vh;
    width: 256vh;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 3rem;
    padding: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: default;
}

#app {
    text-align: center;
}

#taskInput {
    padding: 8px;
    margin-right: -4px;
    margin-top: 0px;
    margin-bottom: 30px;
}

#addTaskBtn{
    margin-top: 0px;
    margin-bottom: 22px;
    margin-left: 0px;
    padding: 9px;
    border: 1px solid #1e1e1e;
    cursor: pointer;
}

button#toggleDarkMode{
    margin-top: 0px;
    margin-bottom: 51px;
    margin-left: 633px;
    border: 1px solid #1e1e1e;
    cursor: pointer;
}

button#completeBtn {
    padding: 8px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-right: -4px;
    font-size: 25px;
    margin-left: 0px;
    margin-top: 10px;
}

button#editBtn {
    padding: 8px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 25px;
    margin-right: -4px;
    margin-left: 0px;
    margin-top: 10px;
}

button#deleteBtn {
    padding: 8px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 25px;
    margin-right: -4px;
    margin-left: 0px;
    margin-top: 10px;
}

ul {
    list-style-type: none;
}

li {
    border-bottom: 1px solid #ddd;
    font-size: 50px;
    padding: 8px;
}

li.completed {
    color: #42c890;
}

/* Dark mode styles */
.dark-mode body {
    background-color: #333;
    color: #fff;
}

.dark-mode .container {
    background-color: #444;
    color: #fff;
}

.dark-mode #app {
    background-color: #444;
}

.dark-mode #taskInput {
    background-color: #555;
    color: #fff;
}

.dark-mode #addTaskBtn {   
border: 1px solid #dcdcdc;
background-color: #333333;
    color: #fff;
}


.dark-mode button#toggleDarkMode {   
    border: 1px solid #dcdcdc;
    background-color: #333333;
        color: #fff;
    }


.dark-mode button#completeBtn {
    background-color: #555;
    color: #fff;
    border: 1px solid #fff;
}
.dark-mode button#editBtn  {
    background-color: #555;
    color: #fff;
    border: 1px solid #fff;
}


.dark-mode button#deleteBtn {
    background-color: #555;
    color: #fff;
    border: 1px solid #fff;
}

.dark-mode li {
    border-bottom: 1px solid #666;
}

.dark-mode li.completed {
    color: #36e39b;
}
