

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    overflow: auto;
    background-color: #fff;
    padding: 20px;
    height: 100vh;
    /*width: 256vh;*/
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-decoration: underline;
    text-align: center;
    font-size: 3rem;
    padding: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: default;
}

#app {
    text-align: center;
    height: 100vh;
}

#taskInput {
    padding: 8px;
    margin-right: -4px;
    margin-top: 0px;
    font-size: 25px;
    border-radius: 10px;
    border: 1px solid #1e1e1e;
    margin-bottom: 30px;
}

#addTaskBtn{
    margin-top: 0px;
    margin-bottom: 22px;
    margin-left: 0px;
    padding: 9px;
    font-size: 25px;
    border-radius: 10px;
    border: 1px solid #1e1e1e;
    cursor: pointer;
}

button#toggleDarkMode{
    margin-top: 0px;
    margin-bottom: 51px;
    margin-left: 633px;
    font-size: 2rem;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
}

button#completeBtn {
    padding: 8px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 25px;
    margin-left: 15px;
    margin-top: -11px;
}

button#editBtn {
    padding: 8px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 25px;
    margin-right: -4px;
    margin-left: -14px;
    margin-top: -9px;
}

button#deleteBtn {
    padding: 8px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 25px;
    margin-right: -4px;
    margin-left: -10px;
    margin-top: -5px;
}

ul {
    list-style-type: none;
}

li {
    border-bottom: 1px solid #ddd;
    /*align-content: center;
    display: flex;*/
    font-size: 40px;
    padding: 8px;
}

li.completed {
    color: #42c890;
}

/* Dark mode styles */
.dark-mode html {
    background-color: #444;
}

.dark-mode body {
    background-color: #333;
    color: #fff;
}

.dark-mode .container {
    background-color: #444;
    color: #fff;
}

.dark-mode #app {
    background-color: #444;
}

.dark-mode #taskInput {
    background-color: #555;
    color: #fff;
}

.dark-mode #addTaskBtn {   
border: 1px solid #dcdcdc;
background-color: #333333;
    color: #fff;
}


.dark-mode button#toggleDarkMode {   
    border: 1px solid #dcdcdc;
    background-color: #333333;
        color: #fff;
    }


.dark-mode button#completeBtn {
    padding: 8px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 25px;
    margin-left: 15px;
    margin-top: -11px;
}
.dark-mode button#editBtn  {
        padding: 8px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        font-size: 25px;
        margin-right: -4px;
        margin-left: -14px;
        margin-top: -9px;
}

.dark-mode button#deleteBtn {
    padding: 8px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 25px;
    margin-right: -4px;
    margin-left: -10px;
    margin-top: -5px;
}

.dark-mode li {
    border-bottom: 1px solid #666;
}

.dark-mode li.completed {
    color: #36e39b;
}
